
<h1> <%= @location.name %> </h1>
<br />

<%= link_to("Edit", edit_trip_location_path(@trip, @location)) %> |
<%= link_to("Delete", trip_location_path(@trip, @location), method: :delete, data: {confirm: 'Really Delete?'}) %>

<hr />

<p> <%= @location.description %> </p>

<%=  %>



<%= link_to "#{@location.name}'s Address", trip_location_addresses_path(@trip, @location) %>




